/* fonts */
@font-face {
  /* light */
  font-family: 'Prometo';
  src: url('../fonts/prometo/puppy_lt.woff') format('woff');
  font-style: normal;
  font-weight: 300;
}

@font-face {
  /* medium */
  font-family: 'Prometo';
  src: url('../fonts/prometo/puppy_md.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
